{% extends "base.html" %}

{% load static %}

{% block content %}
    <div id="video-container">
        <video id="intro-video" src="{% static 'img/Logovideo.mp4' %}" type="video/mp4" autoplay muted></video>
    </div>
    <!-- video all olev osa, näha siis kui video eest läheb -->
    <div id="main-content" class="container" style="display: none;">
        <section class="content text-center">
            {% if user.is_authenticated %}
                <img src="{% static 'img/logo2.png' %}" alt="TriKi2 Home Logo" class="main-logo">
                <h1 class="heading display-4 py-4">Welcome {{ user.username }}</h1>
                <div class="button-container">
                    <a href="{% url 'start_quiz' %}">
                        <button class="btn btn-primary text-white">Start Game</button>
                    </a>
                </div>
            {% else %}
                <img src="{% static 'img/logo2.png' %}" alt="TriKi2 Home Logo" class="main-logo">
                <br>
                <br>
                <h1 class="heading display-4">You need to</h1>
                <div class="button-container">
                    <a href="{% url 'login' %}">
                        <button class="btn btn-primary text-white">Log In</button>
                    </a>
                    <span>or</span>
                    <a href="{% url 'register' %}">
                        <button class="btn btn-primary text-white">Register</button>
                    </a>
                </div>
                <br>
                <h2 class="heading">To access this page</h2>
            {% endif %}
        </section>
    </div>


{% endblock %}