{% load static %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'img/logo1.png' %}" alt="TriKi2 Logo" class="img-fluid" id="navbar-logo">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                {% if user.is_authenticated %}

                <a class="nav-link text-white" href="#">Play</a>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Your scores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Game rules</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Game Rules</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">user</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Register</a>
                </li>
                {% endif %}
        </div>
    </div>
</nav>

