{% extends 'base.html' %}


{% block content %}
{% load static %}
<div id="box" class="col-md-8 offset-md-2 text-center">


    <table class="table table-striped">
        <thead>
        <tr class="title-row">
            <td colspan="6">Leaderboard</td>
        </tr>
        <tr>
            <th>Rank</th>
            <th>User</th>
            <th>Score</th>
            <th>Difficulty</th>
            <th>Questions</th>
            <th>Answers</th>

        </tr>
        </thead>
        <tbody>
        {% if scores and scores|length > 0 %}
        {% for score in scores|slice:":30" %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><strong>{{ score.user.username }}</strong></td>
            <td>{{ score.score|floatformat:0 }} points</td>
            <td>{{ score.difficulty }}</td>
            <td>{{ score.num_questions }} questions</td>
            <td>{{ score.num_correct }} correct</td>
        </tr>
        {% endfor %}
        {% else %}

        <tr>
            <td colspan="5">No scores yet.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

</div>

{% endblock %}
